<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFinJ - About Us</title>
    <link rel="stylesheet" href= "/css/styleAboutUs.css">
</head>
<body>
    <div class="container">
        <a href="/">Trang chủ</a>
    </div>
</body>
</html>