<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFinJ - About Us</title>
    <link rel="stylesheet" href= "/css/styleContact.css">
</head>
<body>
    <div class="container">
        <div class="contact-left">
            <div class="home-icon">
                <img src="home-icon.png" alt="Home" />
            </div>
            <h1>Liên Hệ</h1>
            <div class="contact-info">
                <p>Email</p>
                <a><strong>MfinJContact@gmail.com</strong></a>
                <p>Facebook</p>
                <a href="https://www.facebook.com/profile.php?id=61571795151533"><strong>https://www.facebook.com</strong></a>
            </div>
            <div class="social-icons">
                <span>🕓</span>
                <span>🔗</span>
            </div>
        </div>
        <div class="contact-right">
            <h1>Đặt câu hỏi</h1>
            <form>
                <input type="text" placeholder="Họ và tên" required>
                <input type="email" placeholder="Email của bạn" required>
                <input type="tel" placeholder="Số điện thoại" required>
                <textarea placeholder="Câu hỏi của bạn" required></textarea>
                <button type="submit">Gửi</button>
            </form>
        </div>
    </div>
</body>
</html>