<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFinJ - Home</title>
    <link rel="stylesheet" href= "/css/styleHome.css">
</head>

<body>
    <div class="topnav">
        <div class="container-top">
            <!-- Khung chứa logo -->
            <!-- <div class="logo">
                <img src="../public/image/logo1.jpg" alt="Logo">
            </div> -->

            <div class="logo" aria-label="Logo"></div>
            
            <div class="topnav-mid">
                <!-- Khung tìm kiếm -->
                <div class="search-bar">
                    <input type="text" placeholder="Tìm kiếm...">
                    <select>
                        <option value="binhdinh">Bình Định</option>
                        <option value="hanoi">Hà Nội</option>
                        <option value="hcm">TP. Hồ Chí Minh</option>
                        <option value="danang">Đà Nẵng</option>
                        <option value="haiphong">Hải Phòng</option>
                        <option value="cantho">Cần Thơ</option>
                        <!-- Thêm các tỉnh khác tương tự -->
                    </select>
                    <!-- <a href="/res" class="button">Search</a> -->
                    <button>Tìm kiếm</button>
                </div>
            </div>

            <div class="topnav-right">
                <!-- Các liên kết điều hướng -->
                <a class="active" href="/">Trang chủ</a>
                <a href="/about_us">Về chúng tôi</a>
                <a href="/contact">Liên hệ</a>
            </div>           
        </div>
    </div>

    <div class="job-categories">
        <a href="/phucvu" class="button">Phục vụ</a>
        <a href="/banhang" class="button">Bán hàng</a>
        <a href="/letan" class="button">Lễ tân</a>
        <a href="/phache" class="button">Pha chế</a>
        <a href="/khac" class="button">Khác</a>
    </div>

    <div class="information">
        <div class="welcome">
            WELCOME TO
        </div>
        <div class="name">
            MFinJ
        </div>
        <div class="text">
            Here’s a tool we provide that integrates AI to search for job postings on Facebook, focusing on three key factors: easy of use, speed, and accuracy.
        </div>
    </div>
</body>
</html>